body {
  font-family: sans-serif;
  margin-left: 100px;
  margin-right: 100px;
}

h1 {
  color: blue;
  font-style: italic;
}

p {
  color: #228B22;
  text-align: center;
}

ul {
  font-size: 18px;
}

ol {
  background-color: #ffa500;
  text-transform: capitalize;
}

/* .squares {
  display: flex;
}

.square {
  height: 100px;
  width: 100px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
} */
